* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.5;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 60em;
	padding: 2em 1em;
}

p,
ul,
ol,
form,
blockquote,
article,
table,
details,
.article,
.article-content,
.row,
.result,
pre,
body pre[class*="language-"] {
	margin: 0 0 1.5rem;
}

hr {
	border-color: #ddd;
	margin: 3rem 0;
}

.author {
	font-style: italic;
}

.author-bio {
	font-size: 14px;
}

.article {
	padding-bottom: 1em;
	border-bottom: 1px solid black;
}

h1,
h2,
h3,
h4 {
	margin: 0 0 1rem;
}

h1 {
	font-size: 2rem;
	line-height: 1.25;
}

h2 {
	font-size: 1.75rem;
	line-height: 1.25;
}

h3 {
	font-size: 1.5rem;
	line-height: 1.25;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.15rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

blockquote {
	font-style: italic;
	font-weight: normal;
	font-size: 1.25rem;
}

input {
	margin-bottom: 1rem;
	cursor: pointer;
}

label {
	display: block;
	cursor: pointer;
	margin-bottom: 0.25rem;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="url"] {
	width: 100%;
}

input:focus {
	background-color: grey;
	color: white;
}

[type="checkbox"] {
	margin-bottom: 0;
	margin-right: 0.25em;
}

button {
	cursor: pointer;
}

form {
	background: #efefef;
	padding: 1.5em;
}

form div {
	margin-bottom: 1em;
}

form span {
	display: inline-block;
	vertical-align: middle;
	margin-right: .25em;
}

form span input,
form span select {
	margin-bottom: 0;
}

input[type="password"],
input[type="text"],
input[type="search"],
textarea {
	outline: 0;
	font-size: 16px;
	padding: 0.5em 1em;
	border: 1px solid black;
	outline: 0;
}

button {
	font-size: 16px;
	padding: 0.5em 1em;
	box-shadow: none;
	border: 1px solid black;
	background: aqua;
}

button:hover,
button:focus {
	background: DarkTurquoise;
	color: white;
}

textarea {
	width: 100%;
	min-height: 20rem;
}

table {
	width: 100%;
	max-width: 100%;
	word-break: break-all;
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	padding: 8px;
	border-style: solid;
	border-color: #e0e0e0;
	border-width: 1px;
	vertical-align: top;
}

td img {
	vertical-align: middle;
}

th {
	font-weight: 700;
}

.row {
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
}

.grid {
	min-height: 6em;
	padding: 1em;

	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: auto;
	max-width: 100%;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

button[disabled],
button[disabled]:hover,
button[disabled]:focus {
	opacity: 0.5;
}

/* MONSTER GAME */
.open-door {
	background: transparent;
	border: 0;
}

.open-door:hover,
.open-door:focus {
	background: Aqua;
}

.open-door[disabled],
.open-door[disabled]:hover,
.open-door[disabled]:focus {
	background: red;
}

[tabindex="-1"] {
	outline: none;
}

.winlose {
	text-align: center;
}

.progress-indicator {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	gap: .25em;
	padding: 0;
}

.progress-indicator li {
	background-color: #eee;
	padding-bottom: 30%;
}

.progress-indicator .found {
	background-color: green;
}

/* NOTEBOOK */
.notes-list {
	list-style: none;
	padding: 0;
}

.note {
	margin-bottom: 1.5em;
	background-color: #eee;
	padding: 1.5em;
}

.note-text {
	padding: 1em;
	background-color: #fff;
}

/* WEATHER APP */
.weather-data {
	width: 100%;
	text-align: left;
}

summary {
	margin-bottom: .75em;
	font-weight: bold;
}

summary img {
	display: inline-block;
	vertical-align: middle;
}

/* TIME TRAVELER */
.time-traveler-form label {
	display: inline-block;
}

.time-traveler-form input[type="number"] {
	width: 3em;
}

/* DICE ROLLER */
.emoji-button {
	border: 0;
	background: transparent;
	outline: 0;
	font-size: 3rem;
	transition: font-size .2s;
	padding: 0;
	width: 6rem;
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.emoji-button:hover,
.emoji-button:focus {
	background: transparent;
	font-size: 4rem;
}

.emoji-button:active {
	font-size: 5rem;
}

.result {
	background-color: #efefef;
	padding: 1em;
}

@keyframes dierotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.dice-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: end;
	justify-content: space-between;
}

.img-btn {
	background: transparent;
	border: 0;
	outline: 0;
	padding: 1em;
	width: 140px;
	padding: 1em;
	flex: 0 0 auto;
	text-align: center;
}

.img-btn .btn-text {
	display: block;
	padding-top: .5em;
}

.img-btn:hover,
.img-btn:focus {
	background: #ddd;
	color: #000;
}

.img-btn img {
	height: auto;
	animation: none;
}

.img-btn.hover-rotate:hover img,
.img-btn.hover-rotate:focus img {
	animation: dierotate 2s infinite linear;
}

.img-btn.hover-rotate:disabled img {
	animation: none;
}

[data-sides] {
	text-align: left;
}

[data-sides] th,
[data-sides] td {
	width: 50%;
}



